@tailwind base;
@tailwind components;
@tailwind utilities;

.button-solid-gradient {
  background: linear-gradient(
    180deg,
    #ff0073 -114.9%,
    #811ab8 -51.51%,
    #4426d9 100%
  );
}
.button-solid-gradient:hover {
  background: linear-gradient(
    180deg,
    #ff0073 -85.89%,
    #811ab8 34.45%,
    #4426d9 100%
  );
}
.profile-card-gradient {
  background: linear-gradient(102.78deg, #ece9fb 0.31%, #fdede7 82.87%);
}

.skeleton-loader {
  background: linear-gradient(110deg, #ebedee 8%, #f9fafa 18%, #ebedee 33%);
  animation: shine 1.3s infinite;
  background-position-x: -500px;
  background-size: 500px 100%;
}

@keyframes shine {
  to {
    background-position-x: 0;
  }
}
